body
{
	background-color:#FFFFFF;
	color: #000000;
	text-align:center;
	text-rendering: optimizeLegibility;
	font-family:'Roboto', sans-serif;
	font-weight:100;
}

h1
{
	font-weight:400;
	font-size:150px;
}

#error
{
	font-size:20px;
	line-height:150%;
}

a
{
	text-decoration: none;
}
a:link {color:#FF5EE2;} /* unvisited link */
a:visited {color:#FF5EE2;} /* visited link */
a:hover {color:#606060;} /* mouse over link */
a:active {color:#606060;} /* selected link */